<style>
  .img1 {
    float:right;
     width: 38%;
     height: 600px;
   }
   .th {
      background-color: #4CAF50;
      color: white;
      height:100%;
    }
    .table{
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
      height:50%;
    }
    .tr
    {
        width: 50%;
        height: 50%;
    }
    .td
    {
      height: 50%;
    }
  
  </style>
  
  <img class="img1" size = "100px" src="https://serving.photos.photobox.com/33846744b226b731da23b444ddb415db47b124bc1c54af169d379b675349c7e086930297.jpg" alt="Food Image Error!">



<p></p>
<table  style = "width: 60%; height: 100%;">
  <tr>
<th style="font-size: smaller;">CUSTOMER ID </th>
<th style="font-size: smaller;">CUSTOMER NAME </th>
<th style="font-size: smaller;">CUSTOMER EMAIL </th>
<th style="font-size: smaller;">CUSTOMER PHONE</th>
<th style="font-size: smaller;">CUSTOMER DOB</th>
<th style="font-size: smaller;">CUSTOMER AMOUNT</th>
</tr>
<tr>

 <td>{{(customer | async)?.cusId}} </td> 
<td>{{(customer | async)?.cusName}}  </td>
<td>{{(customer | async)?.cusEmail}} </td> 
<td>{{(customer | async)?.cusPhone}}</td>
<td>{{(customer | async)?.cusDob}} </td>
<td>{{(customer | async)?.currAmt}}</td>
</tr>
</table>
